<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:url" content="">
  <meta property="og:title" content="이수민 개인 포트폴리오">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta property="og:description" content="이수민 웹퍼블리싱 한미약품 포트폴리오">
  <title>한미약품 리뉴얼 포트폴리오</title>  
</head>

<body>
  <div id="wrap">
    <header id="header">
      <%- header %>
    </header>

    <div id="content">
    </div>
    
    <div class="fixed-box">
      <button type="button" class="btnTop scroll" title="페이지 상단으로 이동">
        <i class="bi bi-arrow-up"></i>
      </button>
      <label class="theme-switch">
        <input type="checkbox" id="darkModeToggle">
        <span class="slider round"></span>
        <p class="theme-text"></p>
    </label>    
    </div>    
    
    <footer id="footer">
      <%- footer %>
    </footer>
  </div>

  <script type="module" src="./main.js"></script> 
</body>

</html>