.btn {
    padding: $base-spacing $large-spacing;
    font-size: $font-size-l;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: $button-border-radius;

    &._primary {
        background: var(--c-primary);
        color: var(--c-white);
    }

    &._black {
        background: var(--c-black);
        color: var(--c-white);
    }

    &._white {
        background: var(--c-white);
        border: 2px solid var(--c-black);
        color: var(--c-black);
    }

    &:hover {
        opacity: 0.7;
        transition: all 0.3s linear;
    }
}

.title {
    &._container {
        position: relative;
    }

    &._main {
        font-size: 40px;
        font-weight: bold;
        text-align: left;
    }

    &._sub {
        font-size: 30px;
    }
}

.c-primary {
    color: var(--c-primary);
}

.fixed-box {
    position: fixed;
    right: $large-spacing;
    bottom: $xlarge-spacing;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;

    .btnTop {
        width: 80px;
        height: 80px;
        background: var(--c-primary);
        font-size: $font-size-xxl;
    }

    .theme-switch {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 50px;
        padding: $base-spacing;
        background: var(--c-gray03);
        cursor: pointer;

        .theme-text {
            font-size: $font-size-s;
            text-align: center;
            color: var(--c-black);
        }
    }
}

@media screen and (max-width: $xl-screen) {
    .title {
        &._main {
            font-size: 30px;
        }

        &._sub {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: $md-screen) {
    .title {
        &._main {
            font-size: 26px;
        }

        &._sub {
            font-size: 20px;
        }
    }

    .fixed-box {
        .btnTop {
            width: 50px;
            height: 50px;
            font-size: $font-size-xl;
        }
    
        .theme-switch {
            width: 50px;
            height: inherit;
            padding: $small-spacing;
        }
    }
}

@media screen and (max-width: $sm-screen) {
    .btnTop {
        bottom: $large-spacing;
    }
}