.main_1 {
    .visual {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50vh;
        font-size: $font-size-xxl;
        font-weight: bold;

        .svg-circle {
            animation: rotateAnimation 8s linear infinite;
            animation-fill-mode: backwards;
            width: 40%;
        }
    }

    &.fixed {
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
    }
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.rolling-banner-container {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 50vh;

    .rolling {
        display: flex;
        align-items: center;
        width: 100%;
        flex-shrink: 0;
        height: 100%;
        animation: rollingAnimation 10s linear infinite;
        animation-fill-mode: forwards;

        li {
            flex: 1;
            flex-shrink: 0;
            height: 100%;
            margin: 0 2px;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@keyframes rollingAnimation {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.main_2 {
    position: relative;

    .main_2_top {
        display: flex;
        align-items: center;

        .swiper-btn-container {
            margin-left: auto;
            .swiper-btn {
                .bi {
                    &::before {
                        font-size: $font-size-xxl;
                    }
                }
            }
        }
    }

    .main2Swiper {
        overflow: visible;

        .swiper-wrapper {
            display: flex;
            align-content: center;
        }

        .swiper-slide {
            overflow: hidden;
            width: 710px;
            margin-right: $large-spacing;
            flex-shrink: 0;

            .imgVideo,
            .carousel-img {
                width: 100%;
                height: 400px;
            }

            .imgVideo video,
            .carousel-img img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            &:hover {

                .imgVideo,
                .carousel-img {
                    // transition: all 0.5s linear;
                    // transform: scale(1.1);
                }
            }
        }
    }

    .text-box {
        h4 {
            font-size: $font-size-xxl;
            font-weight: bold;
        }

        p {
            font-size: $font-size-l;
        }
    }
}


.make-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: $middle-spacing;
    margin-top: $xlarge-spacing;

    img {
        object-fit: contain;
        width: 100%;
        height: 300px;
    }

    span {
        display: block;
        font-weight: bold;
    }

    strong {
        display: block;
        font-size: $font-size-xxl;
        font-weight: bold;
    }

    p {
        font-size: $font-size-l;
    }
}

.main_4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;

    .title {
        margin-right: $large-spacing;

        &._container {
            flex-shrink: 0;
        }
    }

    .photo-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-left: auto;

        .img-thumbnail {
            flex-shrink: 0;
            transition: all 0.5s ease-in-out;
        }
    }

    &.fixed {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        background: var(--c-gray04);
    }
}

.main_5 {
    position: relative;
    padding-bottom: 0;

    .title {
        text-align: right;
        flex-shrink: 0;

        &._main {
            font-size: $font-size-xxl;
            text-align: right;
        }
    }

    .esg-items {
        display: flex;
        flex-direction: column;

        .text-esg {
            font-size: 170px;
            font-weight: 900;
            color: var(--c-green);
            animation: floating 3s linear infinite;
            animation-fill-mode: backwards;
            transition: all 0.7s linear;
        }

        .hand-img {
            width: 70%;
        }
    }
}


@keyframes floating {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shaking {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(0);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0);
    }
}

@media screen and (max-width: $xl-screen) {
    .main_1 {
        .visual {
            padding: 0 $xlarge-spacing;

            .svg-circle {
                width: 64%;
            }
        }
    }

    .rolling-banner-container {
        height: 30vh;
    }

    .main_2 {        
        .main2Swiper {
            .swiper-slide {
                width: 510px;

                .imgVideo,
                .carousel-img {
                    height: 286px;
                }
            }
        }
    }
}

@media screen and (max-width: $lg-screen) {
    .main_1 {
        .visual {
            flex-direction: column;

            .svg-circle {
                margin-top: $large-spacing;
            }
        }
    }

    .make-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: $middle-spacing;

        img {
            height: 240px;
        }
    }

    .main_4 {
        flex-direction: column;
        height: auto;

        .title {
            margin-right: 0;
            margin-bottom: $xlarge-spacing;
            text-align: center;
        }
    }

    .main_5 {
        .esg-items {
            .text-esg {
                font-size: 100px;
            }
        }
    }
}

@media screen and (max-width: $md-screen) {
    .main_1 {
        .visual {
            padding: 0;
        }
    }

    .make-container {
        li {
            padding: 0;
        }
    }
}

@media screen and (max-width: $sm-screen) {
    .main_2 {
        .main_2_top {
            flex-direction: column;
        }

        .main2Swiper {
            .swiper-slide {
                width: 320px;
                margin-right: $middle-spacing;

                .imgVideo,
                .carousel-img {
                    height: 182px;
                }
            }
        }
    }

    .make-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .main_4 {
        height: auto;

        .title {
            font-size: $font-size-xl;
            margin-right: 0;
            margin-bottom: $xlarge-spacing;
        }

        .photo-box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }

        .btn {
            font-size: $font-size-m;
            padding: $small-spacing $base-spacing;
        }
    }

    .main_5 {
        .title {
            &._main {
                font-size: $font-size-xl;
            }

            &._sub {
                font-size: $font-size-xl;
            }
        }

        .esg-items {
            .text-esg {
                font-size: 70px;
            }
        }
    }
}