@import 'node_modules/bootstrap-icons/font/bootstrap-icons.css';

.bi {
    fill: currentColor;
}

html[data-theme=light] {
    .bi {
        color: black;
    }
}

html[data-theme=dark] {
    .bi {
        color: white;
    }
}

