#header {
    .inner {}

    .logo {
        display: block;
        width: 100px;
        height: 60px;
        margin-right: 84px;
        background: url("https: //www.hanmi.co.kr/images/common/logo_gnb.svg") no-repeat 50% 50% / 100% auto;
    }
}