<section class="footer-wrap">
    <div class="inner">
        <div class="footerLink">
            <ul class="policyList">
                <li><a href="/about/investor-relations/financial-info/announce/list.hm">전자공고</a></li>
                <li><a href="/privacy-pollcy.hm">개인정보처리방침</a></li>
            </ul>
            <div class="slidedown selectFamily" data-options="{
                &quot;animation&quot;: true,
                &quot;animationSpeed&quot;:0.4,
                &quot;direction&quot;: &quot;up&quot;
            }">
                <div class="slidedownTitle">
                    <button type="button" class="slidedownBtn" aria-expanded="false">Family Site
                        <span data-text="{&quot;text&quot;:&quot;close|open&quot;, &quot;show&quot;:2}">open

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
                              </svg>
                        </span>
                        </button>
                </div>
                <div class="slidedownCont" aria-hidden="true">
                    <ul class="familyList">
                        <li><a href="http://www.hanmiscience.co.kr/" target="_blank" title="새창 열림">한미사이언스</a></li>
                        <li><a href="https://www.bjhanmi.com.cn/" target="_blank" title="새창 열림">북경한미약품</a></li>
                        <li><a href="https://www.hanmifc.co.kr/" target="_blank" title="새창 열림">한미정밀화학</a></li>
                        <li><a href="https://www.online-pharm.co.kr/" target="_blank" title="새창 열림">온라인팜</a></li>
                        <li><a href="https://www.myjvm.com/kr/" target="_blank" title="새창 열림">JVM</a></li>
                        <li><a href="http://www.photomuseum.or.kr/" target="_blank" title="새창 열림">뮤지엄한미</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footerInfo">
            <div class="cpInfo">
                <address class="footerTxt addressTxt">서울특별시 송파구 위례성대로 14</address>
                <div class="telWrap">
                    <span class="footerTxt telTxt">대표번호 02-410-9114</span>
                    <span class="footerTxt telTxt">소비자상담실 : 080-916-9000</span>
                </div>
                <p class="footerTxt">한미약품은 더욱 안심하고 신뢰할 수 있는 서비스를 제공하기 위해 최선을 다하고 있습니다.</p>
            </div>

            <div class="footerMark">
                <p class="copyrightTxt">©Hanmi Pharm.Co.,Ltd. All Rights Reserved.</p>                
            </div>
        </div>        
    </div>
</section>