<section class="header-wrap">
    <div class="inner">
        <h1 class="logo"><a href="/"></a></h1>
        <label class="switch">
            <input type="checkbox" id="darkModeToggle">
            <span class="slider round"></span>
            테마바꿔
        </label>
        <nav class="nav">
            <ul class="gnb">
                <li>
                    <a href="/about">About us</a>
                    <ul>
                        <li><a href=""></a></li>
                    </ul>
                </li>
                <li>
                    <a href="/science">Science</a>
                    <ul>
                        <li><a href=""></a></li>
                    </ul>
                </li>
                <li>
                    <a href="/business">Business</a>
                    <ul>
                        <li><a href=""></a></li>
                    </ul>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                    <ul>
                        <li><a href=""></a></li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
</section>