<section class="header-wrap">
    <div class="inner">
        <h1 class="logo"><a href="/"></a></h1>

        <nav class="nav">
            <ul class="gnb">
                <li>
                    <a href="/about">About us</a>
                    <ul class="gnb sub">
                        <li>
                            <a href="">한미약품</a>
                            <ul>
                                <li><a href="">소개</a></li>
                                <li><a href="">창업자 임성기</a></li>
                                <li><a href="">연혁</a></li>
                                <li><a href="">관계사</a></li>
                                <li><a href="">찾아오시는 길</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">ESG</a>
                            <ul>
                                <li><a href="">한미 ESG</a></li>
                                <li><a href="">E (환경)</a></li>
                                <li><a href="">S (사회)</a></li>
                                <li><a href="">G (지배구조)</a></li>
                                <li><a href="">ESG Report</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Responsibility</a>
                            <ul>
                                <li><a href="">CSR</a></li>
                                <li><a href="">윤리경영</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">News & Media</a>
                            <ul>
                                <li><a href="">보도자료</a></li>
                                <li><a href="">한미뉴스</a></li>
                                <li><a href="">제품 소식</a></li>
                                <li><a href="">아카이브</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">Investor Relations</a>
                            <ul>
                                <li><a href="">IR</a></li>
                                <li><a href="">주식정보</a></li>
                                <li><a href="">재무정보</a></li>
                                <li><a href="">공시</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/science">Science</a>
                    <ul class="gnb sub">
                        <li>
                            <a href="">한미 R&D</a>                            
                        </li>
                        <li>
                            <a href="">연구분야</a>                            
                        </li>
                        <li>
                            <a href="">기술</a>
                            <ul>
                                <li><a href="">기술 소개</a></li>
                                <li><a href="">지속형 바이오의약품 기반기술</a></li>
                                <li><a href="">이중항체 기반기술</a></li>
                                <li><a href="">항암제 연구</a></li>
                                <li><a href="">개량·복합신약</a></li>                                
                            </ul>
                        </li>
                        <li>
                            <a href="">파이프라인</a>
                            <ul>
                                <li><a href="">파이프라인 스냅샷</a></li>
                                <li><a href="">혁신신약 파이프라인</a></li>
                                <li><a href="">주요 파이프라인 소개</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/business">Business</a>
                    <ul class="gnb sub">
                        <li>
                            <a href="">오픈 이노베이션</a>
                        </li>
                        <li>
                            <a href="">CDMO</a>                            
                        </li>
                        <li>
                            <a href="">Product</a>
                            <ul>
                                <li><a href="">제품검색</a></li>
                                <li><a href="">판매약국 찾기</a></li>
                            </ul>
                        </li>                        
                    </ul>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                    <ul class="gnb sub">
                        <li>
                            <a href="">한미약품</a>
                            <ul>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">한미약품</a>
                            <ul>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">한미약품</a>
                            <ul>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">한미약품</a>
                            <ul>
                                <li><a href=""></a></li>
                                <li><a href=""></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <label class="theme-switch">
            <input type="checkbox" id="darkModeToggle">
            <span class="slider round"></span>
            테마바꿔
        </label>
    </div>
</section>